
.main-div{
  margin-left: 21vw;
  width: 76vw;
}

.title h3{
  font-size: 26px;
  font-weight: 500;
  padding: 16px 30px;
  color: #1e2229;
  border-radius: 3px 3px 0 0;
}

.title{
  z-index: -1;
}

.chart-container {
  width: 50%;
  height: 50%;
  margin: auto;
}
