.form-control:focus {
    box-shadow: none;
    border-color: #6a7e99
}

.labels {
    font-size: 1.1rem;
    font-weight: 400;
}

.container{
    box-shadow: 0 1px 3px 3px #9a9b9d;
    height: 30rem;
    background: -webkit-linear-gradient(#141E30, #1A2226);
    color: #fff;
    border-radius: 10px!important;
    border-color: #212529!important;
}

.profile-box{
    box-shadow: 0 0px 1px 1px #888;
    background: -webkit-linear-gradient(#ffffffeb, rgb(213 211 211 / 20%));
    margin-top: 2rem;
    border-radius: 5px;
}

.border-right{
    height: 30rem;
}

.profile-settings{
    border-bottom: 1px solid rgb(167, 164, 164);
    font-size: 1.5rem;
}

.settings{
    font-size: 1.6rem;
}

.profile-name{
    font-size: 1.3rem;
}

.profile-username{
    font-size: 1.1rem;
}

.profile-buttons{
    padding-top: 8rem;
}

.inputCont{
    color: #333;
    font-size: 16px;
}
